html
  head
    meta(charset="UTF-8")
    title Verify Your Disc Account
  body(style="font-family: sans-serif; text-align: center; max-width: 500px; margin: 0 auto;")
    h2(style="font-weight: 200; color: #8144de;") Verify your Disc Account
    p Welcome to Disc! To unlock all the features and ensure the security of your account, please verify your email address.
    h3(style="color: #8144de;") Why Verify Your Email?
    ul(style="width: 100%; text-align: left;")
      li
        strong(style="color: #8144de;") Security:
        |  Protect your account from unauthorized access.
      li
        strong(style="color: #8144de;") Recovery:
        |  Safely retrieve your account if you forget your password.
      li
        strong(style="color: #8144de;") Updates:
        |  Stay informed with timely news and personalized content.
      li
        strong(style="color: #8144de;") Access:
        |  Enjoy the full Disc experience.
    p
      strong(style="color: #8144de;") Username:
      |  #{username}
      br
      strong(style="color: #8144de;") Email:
      |  #{email}
    a(href=`${url}`, style="text-decoration: none;")
      button(style="cursor: pointer; background-color: #8144de; border: none; border-radius: 2.5px; font-size: 14px; font-weight: 100; color: white; padding: 7px 50px; display: block; margin: 30px auto;") Verify
    p
      strong(style="color: #8144de;") Not you?
      |  If you didn't sign up for Disc, please disregard this email or contact us immediately at 
      a(href="mailto:support.disc@gmail.com") support.disc@gmail.com
    p
      |  Thank you for choosing 
      span(style="color: #8144de;") Disc
      | . Your data is safe with us, and your privacy is our priority. If you encounter any issues, our support team is here to help 
      a(href="mailto:support.disc@gmail.com") (support.disc@gmail.com)
      | . Simply reply to this email. Secure your account now and dive into Disc.
