:root {
    --bg: rgb(33, 33, 33);
    --color: rgb(255, 255, 255);
    --border: rgb(48, 48, 48);
}

body {
    background: var(--bg);
    color: var(--color);
}

html, body, .main {
    height: 100%;
    width: 100%;
}

.border-color {
    border-color: var(--border);
}