@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

:root {
    --bg: rgb(15, 19, 37);
    --header-color: rgb(255, 255, 255);
    --text-color: rgb(119, 125, 149);
    --secondary: rgb(67, 145, 222);
    --light-gray: rgb(24, 28, 43);
}


body {
    background: var(--bg);
    color: var(--text-color);
}

.grid-border {
    border-color: var(--light-gray);
    border-style: dotted;
}