@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, .main {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

:root {
    --bg: rgb(22, 35, 50);
    --color: rgb(28, 43, 59);
    --text-color: rgb(230, 230, 230);
    --secondary: rgb(87, 170, 10);
    --blurple: #5865F2;
    --gradient-main: linear-gradient(to bottom, var(--secondary), var(--text-color));
    --gradient-second: linear-gradient(to right, var(--secondary), var(--blurple));
}

body {
    background-color: var(--bg);
    color: var(--text-color);
}

.text-gradient {
    background-clip: text;
    background-color: white;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

button {
    border: solid 0.5px var(--secondary);
    padding: 5px 15px;
    font-size: 11px;
    font-weight: 300;
    color: var(--secondary);
    border-radius: 2.5px;
    margin: 0px 10px;
    transition: 0.3s;
}

button:hover {
    background: var(--secondary);
    color: var(--text-color)
}