@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, .main {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

:root {
    --main: rgb(20, 20, 29);
    --main-secondary: rgb(32, 32, 47);
    --secondary: rgb(90, 101, 234);
    --light: rgb(230, 230, 230);
    --gray: rgb(150, 150, 150);

    --main-gradient: linear-gradient(to right, var(--secondary), rgb(153, 34, 58));
}

.text-gradient {
    background-clip: text;
    background-color: white;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

body {
    font-family: sans-serif;
}

button {
    border: solid 0.5px var(--secondary);
    padding: 5px 15px;
    font-size: 11px;
    font-weight: 300;
    color: var(--secondary);
    border-radius: 2.5px;
    margin: 0px 10px;
    transition: 0.3s;
    display: block;
}

button:hover {
    background: var(--secondary);
    color: var(--text-color)
}

label {
    margin-top: 30px;
    font-weight: 100;
    font-size: 11px;
    display: block;
    color: var(--gray);
}

input {
    border: solid 0.5px var(--main-secondary);
    background-color: var(--main-secondary);
    max-width: 300px;
    width: 400px;
    border-radius: 3.5px;
    padding: 6px 12px;
    font-size: 12px;
    margin-top: 2.5px;
    outline: none;
    transition: 0.2s;
}

input:focus {
    border: solid 0.5px var(--secondary);
}

.sm-message {
    color: var(--gray);
    font-weight: 100;
    font-size: 10.5px;
}

.error-text {
    color: rgb(208, 48, 48);
}