extends ../template.pug

block head
    script(src="/public/js/index.js")
    script(src="/public/js/disc.js")
    title Disc Dashboard

block body 
    div.main.flex.flex-col
        include components/topbar.pug
        div.grow.flex
            include components/editorsidebar.pug
            div.grow.flex.flex-col
                